<div class="row">
  <div class="col-xs-4">
    <app-todolist-header></app-todolist-header>
  </div>

  <div class="col-xs-8">

    <!-- this div is for the buttons to create a item and to delete the items -->
    <div class="row">
      <div class="btn-group" style="margin-top: 6%;">
        <div class="col-md-9">
          <button class="btn btn-primary" (click)="SelectItemsToDeleteButtonClicked()" *ngIf="!deleteMode">Select Items to delete</button>
          <button class="btn btn-danger" (click)="OnDelete()"  *ngIf="deleteMode">Delete Selected Items</button>
          <button class="btn btn-primary" (click)="OnCancel()"  *ngIf="deleteMode">Cancel</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary" type="button" (click)="OnClickCreateItem()">Create a new Item</button>
          <!-- <a routerLink="/todolist/create">Create a new Item</a> -->
        </div>
      </div>
    </div>

    <!-- this div is for the heading which will change according to the items -->
    <div class="row" style="text-align:center">
      <h2>{{heading}}</h2>
    </div><hr>

    <!-- this div is for showing all the items -->
    <div class="row" style="text-align:left">
      <app-todolist-item *ngFor="let ts of todolist" [item]="ts" [deleteMode]="deleteMode"></app-todolist-item>
    </div>

    <p *ngIf="todolist.length == 0" style="text-align: center;">No Items available</p>
  </div>
  
</div>
<!-- <div>
  <router-outlet></router-outlet>
</div> -->