<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-12 border-right">
        <div class="p-3 py-5">
          <div class="row">
            <div class="col-xs-12">
              <h2>Create a new task</h2>
            </div>
          </div>
          
    <div class="d-flex justify-content-between align-items-center mb-3">
      <form [formGroup]="taskCreateForm" (ngSubmit)="OnSubmit()">

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="title" class="control-label">Task name *</label>
              <input type="text" placeholder="Enter task title" class="form-control" formControlName="title">
              <small class="help-block"
                *ngIf="taskCreateForm.get('title')?.invalid && taskCreateForm.get('title')?.touched">Please enter the Title</small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="dueDate" class="control-label">Due date *</label>
              <input type="date" class="form-control" formControlName="dueDate">
              <small class="help-block"
                *ngIf="taskCreateForm.get('dueDate')?.invalid && taskCreateForm.get('dueDate')?.touched">Please enter a
                due date of the item</small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="taskType" class="control-label">Select task category *</label>
              <div *ngFor="let tcat of itemCategory;let i=index">
                <input type="checkbox" [value]="tcat.value" [(ngModel)]="tcat.checked" (change)="OnCheckboxChange($event,'categories')" [ngModelOptions]="{standalone: true}"/>
                {{tcat.name}}
              </div>
              <small class="help-block" *ngIf="taskCreateForm.get('categories')?.invalid">Please choose atleast 1
                category.</small>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <input type="checkbox" (change)="OnAddReminder()" [checked]="item!=null && item.reminderDate!=null"> Add a
            reminder
            <input type="date" class="form-control" *ngIf="reminderFieldIsVisible" formControlName="reminderDate">
          </div>
        </div><br>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="itemImage">Task Image</label>
              <input type="file" id="itemImage" name="itemImage" class="form-control" (change)="OnImageChange($event)">
              <img [src]="ItemImageDisplay" class="img-responsive" *ngIf="ItemImageDisplay != ''"
                style="height: 200px;">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <input type="checkbox" formControlName="markAsDone"> Mark as done
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" [disabled]="taskCreateForm.invalid">Create</button> |
            <button class="btn btn-danger" type="button" (click)="OnCancel()">Cancel</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
</div>
</div>