
<div class="row">
    <div class="col-md-1" *ngIf="deleteMode">
      <input type="checkbox" class="form-check-input" (change)="OnChangeCheckbox($event)">
    </div>
    <div class="col-md-9">
        <img [src]="item.itemImageSrc" alt="" class="img-responsive" id="im">
        <div>
            <h2 class="list-group-item-heading">{{item.title}} {{subHeading}}</h2>
            <h5 class="list-group-item-text">Category :- {{item.categories}}</h5>
            <h5>Completion Date :- {{item.dueDate}}</h5>
        </div>
    </div>
  </div>
  <div class="col-md-3" >
  <button class="btn btn-primary" (click)="EditItem()">Edit</button>
  <button class="btn btn-success" *ngIf="!item.markAsDone" id="DoneID" (click)="MarkAsDone()">Mark As Done</button>
  </div>
  <br><hr>
  
  
  