
<div class="row">
    <div class="col-md-1" *ngIf="deleteMode">
      <input type="checkbox" class="form-control" (change)="onChangeCheckbox($event)">
    </div>
    <div class="col-md-10">
      <a class="list-group-item clearfix" [routerLink]="['/todolist/edit']" [queryParams]="{taskId : task.taskId}" routerLinkActive="active" style="cursor: pointer;">
        <div class="pull-left">
            <img [src]="task.taskImageSrc" alt="" class="img-responsive" style="max-height:50px">
        </div>
        <div class="pull-right">
            <h2 class="list-group-item-heading">{{task.title}} {{subHeading}}</h2>
            <h5 class="list-group-item-text">Category :- {{task.categories}}</h5>
            <h5>Completion Date :- {{task.dueDate}}</h5>
        </div>
      </a>
    </div>
    <div class="col-md-1" *ngIf="!task.markAsDone && !deleteMode">
      <button class="btn btn-success" id="DoneID" (click)="markAsDone()">Mark As Done</button>
    </div>
  </div>
  
  
  